/* base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul,
ol {
	list-style-type: none;
}

ul,
li,
h1 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #595959;
	background: #F5F7FA;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 40px;
	display: flex;
	flex-direction: row-reverse;
}

.main-content {
	width: 100%;
	max-width: 830px;
	background-color: #fff;
	padding: 150px 0px 99px 88px;
	box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
	position: relative;
	transition: background 0.2s linear;
}

.sidebar {
	width: 100%;
	max-width: 370px;
	background-color: #1E2939;
	padding-top: 40px;
	transition: background 0.2s linear;
}

.title {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	color: #000;
}

.title--white {
	color: #fff;
}

.orange {
	color: #FB6D3A;
}

.bold {
	display: inline-block;
	font-weight: 700;
	color: #000000;
}

.bold--number {
	width: 12px;
}

.date {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #A8A8A8;
	margin-bottom: 8px;
}

.word {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 12px;
	opacity: 1;
}

/* dark theme  */
body.dark .main-content {
	background-color: #1E2939;
}

body.dark .sidebar {
	background-color: #fff;
}

body.dark .about__subtitle,
body.dark .about__title,
body.dark .experience__title,
body.dark .experience__position,
body.dark .experience__list li,
body.dark .projects__title,
body.dark .projects__list li span,
body.dark .education__title,
body.dark .education__faculty,
body.dark .education__speciality {
	color: #ffffff;
}

.about__subtitle,
.about__title,
.experience__title,
.experience__position,
.experience__list li,
.projects__title,
.projects__list li span,
.education__title,
.education__faculty,
.education__speciality {
	transition: color 0.2s linear;
}

body.dark .contacts__title,
body.dark .contacts__list li p,
body.dark .tech-skills__title,
body.dark .tech-skills__list li span,
body.dark .сourses-skills__title,
body.dark .сourses-skills__list li span,
body.dark .language-skills__title,
body.dark .language-skills__list li span {
	color: #000;
}

.contacts__title,
.contacts__list li p,
.tech-skills__title,
.tech-skills__list li span,
.сourses-skills__title,
.сourses-skills__list li span,
.language-skills__title,
.language-skills__list li span {
	transition: color 0.2s linear;
}

body.dark .contacts__link,
body.dark .contacts__list li p {
	opacity: 1;
	color: #000;
	transition: opacity 0.2s linear;
}

.contacts__list li p,
.contacts__link {
	transition: opacity 0.2s linear;
}

body.dark .contacts__link:hover {
	color: #FB6D3A;
	transition: all 0.3s ease;
}

/* dark-white mode styles */
.toggle {
	position: absolute;
	top: 30px;
	right: 150px;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


/* language styles */
.language {
	position: absolute;
	top: 25px;
	right: 45px;
}

.change-lang-wrapper {
	position: relative;
}

.change-lang-wrapper::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #7e9bbd transparent transparent transparent;
	pointer-events: none;

}

.change-lang {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #111;
	color: #fff;
	border-radius: 6px;
	padding: 10px 30px 10px 15px;
	outline: none;
	cursor: pointer;
}

.change-lang::-ms-expand {
	display: none;
}

.change-lang:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

/* about styles */

.about {
	width: 100%;
	max-width: 400px;
	margin-bottom: 40px;
}

.about__subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	margin-bottom: 19px;
}

.about__title {
	font-weight: 700;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 19px;
}

/* projects styles */

.projects {
	margin-bottom: 52px;
}

.projects__title {
	margin-bottom: 8px;
}

.projects__link {
	padding-left: 11px;
	transition: color 0.3s ease;
}

.projects__link:hover {
	color: #FB6D3A;
	transition: color 0.3s ease;
}

.team-work {
	color: #000;
	font-weight: 600;
}

/* experience styles */

.experience {
	margin-bottom: 43px;
}

.experience__item {
	width: 100%;
	max-width: 524px;
}

.experience__wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 11px;
}

.experience__title {
	margin-bottom: 11px;
}

.experience__position {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-right: 5px;
}

.experience__list {
	list-style-type: disc;
	padding-left: 15px;
}

.experience__item:nth-of-type(1) {
	margin-bottom: 16px;
}

.experience__item:nth-of-type(2) {
	margin-bottom: 20px;
}

.experience__wrapper .orange {
	font-size: 16px;
	font-weight: 700;
}

/* education styles */

.education__title {
	margin-bottom: 12px;
}

.education__name {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 11px;
}

.education__speciality,
.education__faculty {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 12px;
}

/* sidebar styles */

.sidebar-content {
	padding: 44px 0px 44px 40px;
}


/* contacts styles */

.contacts {
	margin-bottom: 47px;
}

.contacts__title {
	margin-bottom: 8px;
}

.contacts__link {
	color: #FFFFFF;
	opacity: 0.5;
	transition: all 0.3s ease;
}

/* .contacts__link:hover {
	color: #FB6D3A;
	transition: all 0.3s ease;
	opacity: 1;
} */

.contacts__link span:first-child {
	padding-right: 10px;
}

.contacts__link .underline {
	text-decoration: underline;
}

.contacts__list li p {
	color: #FFFFFF;
	opacity: 0.5;
}

.contacts__list li p span:first-child {
	padding-right: 10px;
}


/* tech skills styles */

.tech-skills {
	margin-bottom: 44px;
}

.tech-skills__title {
	margin-bottom: 8px;
}

.tech-skills__list,
.сourses-skills__list,
.language-skills__list {
	padding-left: 15px;
	list-style-type: disc;
}

.tech-skills__list li span,
.сourses-skills__list li span,
.language-skills__list li span {
	color: #fff;
}

/* сourses skills styles */
.сourses-skills {
	margin-bottom: 44px;
}

.сourses-skills__title {
	margin-bottom: 8px;
}

/* language skills styles */

.language-skills__title {
	margin-bottom: 8px;
}

.box {
	display: flex;
}